/* Copyright (C) YOOtheme GmbH, http://www.gnu.org/licenses/gpl.html GNU/GPL */

/* ========================================================================
   Use this file to add custom CSS easily
 ========================================================================== */
 .towart{
  float: left;
  width: 25%;
 }


 .club-logo{
  float: left;
  margin-right: 5px;
}
.playerimg{
  width: 40%;
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.uk-dropdown-grid{
  background-color: #1F1F1F;
}
.grolsch{
  height: 150px;
}
.nielogo{
  width: 70%;
  text-align: center;
  margin: 15px auto;
}
.odd{
  height: 25px;
}
.column-team, .column-club{
  margin: 0 15px;
}
.time, .column-date{
  margin: 0 15px;
}
.cup{
  margin: 0 15px;
}
.club-name{
  margin: 0 15px;
}
.team, .column-team{
  margin: 0 15px;
}

.spielplan{
  text-align: center;
  border: 1px solid rgba(255,255,255,.1);
  margin: 5px 10%;
  border-radius: 5px;
  padding: 25px;
  background-color: rgb(247, 247, 247);
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;
}
 .partner2{
  height: 50px;
  padding: 5px;
 }
 .partner{
  padding: 5px;
 }
 .sglogo{
  float: left;
  margin-right: 78px;
 }  
 .platzbild{
  float: right;
 }
 .platzbild img{
  height: 136px;
  width: 613px;
 }
 .tm-sidebar-a{
  background: #eeeeee;
 }
.artcontent {
  font-size: 12px;
  color: #000;
  max-height: 80px;
  overflow: hidden;
  max-height: 60px;
}

.banner{
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
  top: 351px;
  right: -73px;
  border: 1px solid #8B8B8B;
}
@media (min-width:992px) {
    .desktop-only {
        display:block !important;
    }
    .page-header {
    font-size: 15px;
    width: 85%;
    float: right;
    margin-top: 2px;
  }
  .artcontent {
    font-size: 12px;
    color: #000;
    max-height: 80px;
    overflow: hidden;
  }
  .artikel{
    margin-bottom: 5px;
    color: #000;
    min-height: 110px;
    border: 1px solid rgba(255,255,255,.1);
    margin: 15px 0;
    border-radius: 5px;
    padding: 25px;
    background-color: rgb(247, 247, 247);
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
  }
  .tm-content{
    background: #FFFFFF;
    margin: 15px 0;
  }
  .logo2{
    height:150px;
  }
  .stab{
    float: left;
    width: 38%;
  }
  .foto{
    border: 1px solid #000;
    width: 54%;
    height: 221px;
    float: right;
    margin-bottom: 15px;
  }
   .thumbnail{
    float: left;
    margin: 0 5px;
    height: 100px;
    margin-top: 5px;
  }
}
 
@media (max-width: 991px) {
    .mobile-only {
        display:block !important;
    }
 
    .desktop-only {
        display:none !important;
    }
    .artikel{
    margin-bottom: 5px;
    color: #000;
    min-height: 110px;
    border: 1px solid rgba(255,255,255,.1);
    margin: 15px 0;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(247, 247, 247);
  }
  .uk-article-title {
    font-size: 28px;
    line-height: 42px;
    font-weight: 300;
    text-transform: none;
    margin-top: 15px;
  }
  .tm-content{
    background: #FFFFFF;
    padding: 15px;
  }
  .stab{
    float: right;
    width: 100%;
  }
  .foto{
    border: 1px solid #000;
    width:90%;
    height: 145px;
  }
  .thumbnail {
    float: left;
    margin: 0 5px;
    height: 50px;
    margin-top: 5px;
  }
  .banner{
    display: none !important;
  }
}

.thumbnail img{
  height: 100%;
}

.artikel:hover{
  background: rgba(0, 0, 0, 0.30);
}

.links{
  margin-bottom: 15px;
  list-style: initial;
  margin-left: 15px;
}
.social-icons {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.social-icons li,
.social-icons li a { float: left; }

.social-icons li {
  margin: 0 0 0 6px;
  line-height: 39px;
}

.social-icons li a {
  display: inline-block;
  overflow: hidden;
  width: 36px;
  height: 38px;
  background: url(../images/tools/icons_social.png) 0 0 no-repeat;
}

.social-icons .twitter a { background-position: 0 0; }
.social-icons .twitter a:hover { background-position: 0 -40px; }

.social-icons .facebook a { background-position: 0 -80px; }
.social-icons .facebook a:hover { background-position: 0 -120px; }

.social-icons .youtube a { background-position: 0 -160px; }
.social-icons .youtube a:hover { background-position: 0 -200px; }

.social-icons .vimeo a { background-position: 0 -240px; }
.social-icons .vimeo a:hover { background-position: 0 -280px; }

.timestamp {
  font-size: 11px;
  float: left;
  width: 18%;
}
.toolbar2{
  padding: 10px;
  height: 25px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.toolbar2 a{
  color: #000;
  text-decoration: none;
  font-size: 11px;
}

.toolbar2 li {
  margin-left: 7px;
  padding-left: 8px;
  font-size: 11px;
  text-transform: uppercase;
}
.impressum{
  float: left;
  margin-right: 15px;
}
/*-------kader------------*/

.td-header{
  font-weight: normal;
  font-size: 12px;
  border-bottom: none;
  border-bottom: 1px solid;
}

.char{
  float: left;
  width: 90%;
}

.name{
  float: left;
  width: 50%;
}

.name2{
  float: left;
  width: 20%;
  color: #FFFFFF;
}

.rank{
  float: left;
  width: 15%;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #005580;
  text-decoration: underline;
}

.img-polaroid {
  /* padding: 1px; */
  background-color: #fff;
  
  border: 1px solid #737373;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); */
  height: 25px;
  width: 25px;
  float: left;
  margin-right: 3px;
}

.img-polaroid2 {
  height: 25px;
  width: 28px;
  float: left;
  margin-right: 3px;
}

.row {
  margin-left: -20px;
  *zoom: 1;
}

.row:before,
.row:after {
  display: table;
  line-height: 0;
  content: "";
}

.row:after {
  clear: both;
}

[class*="span"] {
  float: left;
  min-height: 1px;
}

.span3 {
  width: 220px;
}

.span2 {
  width: 140px;
}

.row-fluid {
  padding: 15px;
  width: 100%;
}

.uk-button {
  /* 1 */
  display: inline-block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  /* 2 */
  border: none;
  /* 3 */
  line-height: 30px;
  /* 4 */
  min-height: 30px;
  /* 5 */
  letter-spacing: normal;
  /* 6 */
  padding: 0 12px;
  color: #FFFFFF;
  background-color: #6E6E6E;
  border-radius: 5px;
}

.Roster{
  background: #fff;
  padding: 15px;
  width: 70%;
}
.row-fluid:before,
.row-fluid:after {
  display: table;
  line-height: 0;
  content: "";
}

.row-fluid:after {
  clear: both;
}

.row-fluid [class*="span"] {
  display: block;
  float: left;
  width: 100%;
  margin-bottom: 10px;
  /*min-height: 280px;*/
  padding-left: 5px;
  /*margin-left: 2.127659574468085%;*/
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.row-fluid [class*="span"]:first-child {
  margin-left: 0;
}

.row-fluid .controls-row [class*="span"] + [class*="span"] {
  margin-left: 2.127659574468085%;
}

.row-fluid .span3 {
  width: 100%;
  *width: 23.351063829787233%;
}

.row-fluid .span2 {
  width: 14.893617021276595%;
  *width: 14.840425531914894%;
}

table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

.table {
  width: 100%;
  margin-bottom: 5px;
}

.table th,
.table td {
  padding: 3px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
/*  border-top: 1px solid #dddddd;*/
}

.table th {
  /*border-bottom: 1px solid; */
}

.table thead th {
  vertical-align: bottom;
}

.table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
  border-top: 0;
}

.table tbody + tbody {
  border-top: 2px solid #dddddd;
}

.table .table {
  background-color: #ffffff;
}

.stab{
  float: left;
  height: 221px;
}
.oben{
  height: 250px;
  padding: 15px;
}
.kader{
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  color: #000000;
  background: #FFFFFF;
  padding: 15px;
}

.team{
  width: 20%;
  float: left;
  background: #fff;
  margin: 17px 12px 3px 3px;
  padding: 15px 20px;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
  text-align: center;
  min-height: 450px;
}
.team li{
  font-size: 13px;
  font-family: sans-serif;
}

.totw{
  width: 50%;
  margin: 0 auto;
}

body {
background: #f1f1f1;
font-family: 'Open Sans';
font-weight: normal;
line-height: 20px;
color: #444444;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}